*{
    background-color: #D7DADC;
}


.header-container{
    text-align: center;
    padding: 1rem 1.7rem;
}

.header-container h1{
    font-size: 2.2rem;
}

.header-container h2{
    font-size: 1.1rem;
}

.book{
    margin: 2rem 3.4rem;
    padding: 0.5rem;
}

dialog[open] {
    display: flex;
    flex-direction: column;

    gap: 1rem;
}
dialog::backdrop {
    background-color: rgba(0, 0, 0, 0.5);
}
dialog p{
    font-size: 2rem;
}