*{
    background-color: #D7DADC;
}


.header-container{
    text-align: center;
    padding: 1rem 1.7rem;
}

.header-container h1{
    font-size: 2.2rem;
}

.header-container h2{
    font-size: 1.1rem;
}

